@model GestorTallerAutomotriz.Model.Ordenes

@{
    ViewData["Title"] = "DetalleOrdenCompletada";
}

<h1>DetalleOrdenCompletada</h1>

<div>
    <h4>Ordenes</h4>
    <hr />
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDelCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDelCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
     
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeIngreso)
        </dd>
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDelMecanico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDelMecanico)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDeLaReparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDeLaReparacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeInicioDeAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeInicioDeAtencion)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalDeAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalDeAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDeDiasEnTaller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDeDiasEnTaller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDeDiasEnProceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDeDiasEnProceso)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
